Source: ros-lyrical-cuda-buffer
Section: misc
Priority: optional
Maintainer: "Yuankun Zhu" <yuankunz@nvidia.com>
Build-Depends: debhelper (>= 9.0.0), nvidia-cuda-toolkit, ros-lyrical-ament-cmake, ros-lyrical-ament-cmake-gtest <!nocheck>, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-ament-lint-common <!nocheck>, ros-lyrical-cuda-buffer-backend-msgs, ros-lyrical-rcutils, ros-lyrical-rmw, ros-lyrical-rosidl-buffer, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/cuda_buffer/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-cuda-buffer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nvidia-cuda-toolkit, ros-lyrical-cuda-buffer-backend-msgs, ros-lyrical-rcutils, ros-lyrical-rmw, ros-lyrical-rosidl-buffer, ros-lyrical-ros-workspace
Description: CUDA-backed rosidl::Buffer storage and synchronization utilities, including memory pooling, CUDA IPC support, and same-host endpoint locality discovery for rosidl::Buffer backends.
